.primary-bg {
    background-color: #F3F2EF;
  }
  
  .secondary-bg {
    background-color: #F9FAFB;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
  .primary-text {
    color: #000000;
  }
  
  .secondary-text {
    color: #666666;
    /* F3F2F0 */
  }
  
  .white-text {
    color: #fff;
  }
  
  .black-text {
    color: #000;
  }

  .grey-text {
    color: #666666;
  }
  
  .blue-text {
    color: #0A66C2;
  }
  
  .gold-text {
    color: #E7A33E;
  }
  
  .primary-shadow {
    box-shadow: 0 0 20px 0 #00000040;
  }
  